//Typography Variables/Mixins

$font-family: 'Lato', sans-serif;
@mixin font-family {
  font-family: $font-family;
}

//Color Variables

$lt-grey: #e6e6e6;
$md-grey: #3e3e3e;
$dk-grey: #222;
$red: #5a3632;
$grey: #3e3e3e;
